MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_URL=jdbc:mysql://localhost:3306/queuelive

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REALM=queuelive
KEYCLOAK_URL=http://localhost:8180